.starfinder {
    font-family: eurostile, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.starfinder .section {
    border: none;
}
.starfinder .boxed-section {
    border: 1px solid black;
    border-radius: 0 3px 3px 3px;
}

.starfinder .attribute {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 24px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}
.starfinder .attribute-bold {
    border-width: 2px;
}

.starfinder .attribute-underline {
    border-bottom: 1px solid black;
}

.starfinder .abbreviation {
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: center;
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.starfinder .cs-label, .starfinder label {
    text-transform: uppercase;
    font-weight: 300;
}
.starfinder .label-under {
    display: block;
}

.character-sheet input {
    height: auto;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.header hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sheet-value {
    background-color: white;
    border: 1px solid #666;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    position: relative;
    width: 35px;
}
.sheet-value input {
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.sheet-label {
    border: 1px solid #666;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    margin-left: -15px;
    margin-top: 3px;
    vertical-align: top;
    width: 137px;
}
.sheet-label span, .sheet-label label {
    display: block;
    font-weight: bold;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.score-list .attribute {
    display: inline-block;
    min-width: 21px;
    text-align: right;
}

.score-list input {
    font-size: 12px;
    width: 21px;
    text-align: center;
}

.section, .outer-section {
    border-radius: 5px;
    margin-bottom: 10px;
}
.section {
    border: 1px solid #666;
}
.section .sheet-label, .outer-section .sheet-label {
    border: none;
    width: 100%;
}
.outer-section {
    background-color: #f9f9f9;
    padding: 4px;
}

.ability-container {
    border: 1px solid #666;
    border-radius: 5px;
    height: 74px;
    width: 70px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
}
.ability-container label {
    font-size: 11px;
}
.ability-container input {
    margin-top: 3px;
}
.ability-container .sheet-ability {
    display: block;
    font-size: 30px;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-top: -6px;
}

.ability {
    background-color: white;
    border: 1px solid #666;
    border-radius: 50%;
    height: 20px;
    width: 40px;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.ability input {
    font-size: 19px;
    margin-top: -5px;
    text-align: center;
    width: 100%;
}
